.section_project {
  width: 100%;
  margin: auto;
  height: 100%;
  max-width: 1336px;
}

.project_text {
  padding: 58px 0px 54px 0px;
}

.container_projects {
  width: 100%;
  margin: auto;
  height: auto;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 10px 19px 0 rgba(0, 0, 0, 0.02);
  border: solid 1px #f0f0f0;
  background-color: var(--white);
}

.container_projects h4 {
  text-align: center;
  color: var(--red) !important;
  font-weight: normal;
  font-size: 2.3em;
  letter-spacing: 0.5px;
}

.container_projects h2 {
  font-size: 4em;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: center;
  color: var(--black) !important;
}

.container_grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 330px);
  grid-template-rows: repeat(2, 330px);
  grid-column-gap: 37px;
  grid-row-gap: 37px;
  justify-content: center;
}

.container_grid figure img {
  width: 100%;
  height: 100%;
}

/*pagination*/
.center {
  text-align: center;
  margin: 30px 0px 70px 0px;
}
.pagination {
  display: inline-block;
  margin: auto;
}

.pagination a {
  max-width: 33px;
  max-height: 33px;
  font-family: "Roboto";
  font-weight: 500;
  color: var(--black_span);
  font-size: 1.3em;
  float: left;
  padding: 8px 12px;
  margin: 0px 8px 0px 0px;
  text-decoration: none;
  border: solid 1px #f0f0f0;
  border-radius: 16.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination a.active {
  max-width: 33px;
  max-height: 33px;
  background-color: var(--red);
  color: white;
  border-radius: 16.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 16.5px;
}
